body	{
		background-color: rgb(160, 200, 145);
	}

h1
	{
		text-align: center;
	}

table
	{
		padding-left:20px;
	}
th 
	{
		font-size:20px;
		width:100px; 
		text-align: left;
		min-width=175; 
	}

td 
	{
	 	width:275px; 
	 	color: blue;
	 	font-style: italic;
	 	font-family: arial;
	 	font-weight: bold;
	 	border-style: solid;
	 	background-color:lightgrey;
	}

td.img  {
	 	color: rgb(96, 152, 79);
	 	border-style: solid;
		width: 500px;
		height:200px;
		background-color: rgb(160, 200, 145);
	}

img.self
	{
	 	border: 2px;
		width: 500px;
		height:200px;
		border: 2px
	}

td.skills 
	{
		color: blue;
	 	font-style: italic;
	 	font-family: arial;
	 	font-weight: bold;
	 	border-style: solid;
	 	background-color:lightgrey;
	}

p
	{
		color: blue;
	 	font-style: italic;
	 	font-family: arial;
	 	font-weight: bold;
	 	border-style: solid;
	 	background-color:lightgrey;
	}

p.tooltip
	{
		display: none;
  		background-color: yellow;
  		padding: 20px;
	}

span:hover p.tooltip
	{
		font-size: 20pt;
		font-weight: bold;
		display: block;
	}